@use "../abstracts/mixins" as *;

.tooltip-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  place-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 1.5rem;
  transform: translateY(100%);
  transition: 150ms transform cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--very-dark-grayish-blue);
  p {
    color: var(--grayish-blue);
    font-size: 0.875rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
  }
  .share-arrow-wrapper {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 9999px;
    background: var(--desaturated-dark-blue);
    fill: var(--light-grayish-blue);
  }
  @include breakpoints(medium) {
    display: none;
  }
}

input.tooltip-checked:checked ~ .tooltip-slider {
  transform: translateY(0);
}
